<%- include('../partials/header') %>


    <h1>Discharge Summary</h1>
    <p><strong>Patient Name:</strong> <%= patient.name %></p>
    <p><strong>Generated Summary:</strong></p>
    <p><%= dischargeSummary %></p>
  


<%- include('../partials/footer') %>